			<div class="comp txt">
				<p>Originaire d'une petite île de l'Extrême-Orient, le <%= dataSite.title.fr + " " + detailProduct.title %> apportera une touche exotique à votre arsenal. La lame élancée et la courbe douce donnent à cette lame une belle apparence trompeuse; Les anciennes techniques - maîtrisées par nos forgerons d'armes - fournissent une force presque troublante. Tout ce qu'il faut, c'est un seul mouvement fluide<sup><a href="#dis3">3</a></sup>, pour trancher un adversaire en deux ou même trois morceaux.</p>
			</div>
			<div class="comp img">
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/weapon/katana-exotic-oriental-sword-introduction-01.jpg" width="980" height="200" alt="Un katana est montré au-dessus d'un présentoir.">
				</div>
			</div>