			<div class="comp txt">
				<p>Its origins hailing from a small island in the far east, the <%= dataSite.title.en + " " + detailProduct.title %> will bring an exotic touch to your arsenal. The slender blade, and gentle curve give this blade a deceptively beautiful appearance; ancient techniques - mastered by our weapon smiths - provide an almost unsettling strength. All it takes, is a single fluid motion<sup><a href="#dis3">3</a></sup>, to slice an opponent in two, or even three pieces.</p>
			</div>
			<div class="comp img">
				<div>
					<img src="<%= dataSite.uri.rootAsset %>img/weapon/katana-exotic-oriental-sword-introduction-01.jpg" width="980" height="200" alt="A katana is shown off, on top of a display rack.">
				</div>
			</div>