<% include template/head.ejs %>
<body>

	<main>
		<h1>Select Language / Choisir la langue</h1>
		
		<a href="/en/">English</a>
		<a href="/fr/">Français</a>
		
		<hr>

		
		
		
		
		
	</main>

</body>
</html>
