<% include template/head.ejs %>
<body>
<% include template/content-head.ejs %>

	<main id="index">
		<h1><%= detailsPage[detailsPage.langCode].title %></h1>
		
		
		
		
		
		
		
		<section id="legal">
			<h2><% if (detailsPage.langCode == "en") { -%>Legal Disclaimers<% } else { -%>Avis de non-responsabilité<% }; -%></h2>
<%- include template/legal.ejs %>
		</section>
	</main>

</body>
</html>
