<% include template/head.ejs %>
<body>
<% include template/content-head.ejs %>

	<main id="warranty">
		<h1><%= detailsPage[detailsPage.langCode].title %></h1>
		<img src="<%= dataSite.uriPath.rootAsset %>img/warranty/canbotics-smithy-warranty-banner.jpg" width="980" height="450" alt="">
		
		
		
		
		
		
		
		<section id="legal">
			<h2><% if (detailsPage.langCode == "en") { -%>Legal Disclaimers<% } else { -%>Avis de non-responsabilité<% }; -%></h2>
<%- include template/legal.ejs %>
		</section>
	</main>

</body>
</html>
