				<li class="aetherconductivity"><% if (detailsPage.langCode == "en") { %>
					<h3>Conductivity</h3><div><%= detailsProduct.attr.aetherConductivity[0] %><span>&mu;<sup><%= detailsProduct.attr.aetherConductivity[1] %></sup></span></div><small>aetherial units</small><% } else { %>
					<h3>Conductivité</h3><div><%= detailsProduct.attr.aetherConductivity[0] %><span>&mu;<sup><%= detailsProduct.attr.aetherConductivity[1] %></sup></span></div><small>unités éthérées</small><% }; %>
				</li>