				<% if (detailPage.lang == "en") { %>
					<h3>Defence</h3><div><%= detailProduct.attr.value.armourclass %></div><small>armour class<sup><a href="#disddag">&Dagger;</a></sup></small>
				<% } else { %>
					<h3>La défense</h3><div><%= detailProduct.attr.value.armourclass %></div><small>classe d'armure<sup><a href="#disddag">&Dagger;</a></sup></small>
				<% }; %>