				<li class="armourclass"><% if (detailsPage.langCode == "en") { %>
					<h3>Defence</h3><div><%= detailsProduct.attr.armourClass %></div><small>armour class<sup><a href="#dis_ddag">&Dagger;</a></sup></small><% } else { %>
					<h3>La défense</h3><div><%= detailsProduct.attr.armourClass %></div><small>classe d'armure<sup><a href="#dis_ddag">&Dagger;</a></sup></small><% }; %>
				</li>