				<% if (detailPage.lang == "en") { %>
					<h3>Coverage</h3><div><%= detailProduct.attr.value.armourcoverage.split("|")[0] %><span>%</span></div><small><% if (detailProduct.attr.value.armourcoverage.split("|")[1] == "full") { %>full body<% } else if (detailProduct.attr.value.armourcoverage.split("|")[1] == "top") { %>upper body<% } else if (detailProduct.attr.value.armourcoverage.split("|")[1] == "bottom") { %>lower body<% }; %></small>
				<% } else { %>
					<h3>Couverture</h3><div><%= detailProduct.attr.value.armourcoverage.split("|")[0] %><span>%</span></div><small><% if (detailProduct.attr.value.armourcoverage.split("|")[1] == "full") { %>tout le corps<% } else if (detailProduct.attr.value.armourcoverage.split("|")[1] == "top") { %>haut du corps<% } else if (detailProduct.attr.value.armourcoverage.split("|")[1] == "bottom") { %>bas du corps<% }; %></small>
				<% }; %>