				<li class="coverage"><% if (detailsPage.langCode == "en") { %>
					<h3>Coverage</h3><div><%= detailsProduct.attr.coverage[0] %><span>%</span></div><small><% if (detailsProduct.attr.coverage[1] == "full") { %>full body<% } else if (detailsProduct.attr.coverage[1] == "upper") { %>upper body<% } else if (detailsProduct.attr.coverage[1] == "lower") { %>lower body<% }; %></small><% } else { %>
					<h3>Couverture</h3><div><%= detailsProduct.attr.coverage[0] %><span>%</span></div><small><% if (detailsProduct.attr.coverage[1] == "full") { %>tout le corps<% } else if (detailsProduct.attr.coverage[1] == "upper") { %>haut du corps<% } else if (detailsProduct.attr.coverage[1] == "lower") { %>bas du corps<% }; %></small><% }; %>
				</li>