				<% if (detailPage.lang == "en") { %>
					<h3>Mitigation</h3><div><%= detailProduct.attr.value.damagemitigation %><span>%</span></div><small>hit points</small>
				<% } else { %>
					<h3>Atténuation</h3><div><%= detailProduct.attr.value.damagemitigation %><span>%</span></div><small>points de dommage</small>
				<% }; %>