				<li class="mitigation"><% if (detailsPage.langCode == "en") { %>
					<h3>Mitigation</h3><div><%= detailsProduct.attr.damageMitigation %><span>%</span></div><small>hit points</small><% } else { %>
					<h3>Atténuation</h3><div><%= detailsProduct.attr.damageMitigation %><span>%</span></div><small>points de dommage</small><% }; %>
				</li>