				<% if (detailPage.lang == "en") { %>
					<h3>Placeholder</h3><div>42</div><small>placeholder<sup><a href="#dis<%= attrdisc %>"><%= attrdisc %></a></sup></small>
				<% } else { %>
					<h3>Placeholder</h3><div>42</div><small>placeholder<sup><a href="#dis<%= attrdisc %>"><%= attrdisc %></a></sup></small>
				<% }; %>