				<% if (detailPage.lang == "en") { %>
					<h3>Price</h3><div><%= detailProduct.attr.value.price %></div><small>gold pieces<sup><a href="#dis_dag">&dagger;</a></sup></small>
				<% } else { %>
					<h3>Prix</h3><div><%= detailProduct.attr.value.price %></div><small>pièces d'or<sup><a href="#dis_dag">&dagger;</a></sup></small>
				<% }; %>