				<% if (detailPage.lang == "en") { %>
					<h3>Range</h3><div><%= detailProduct.attr.value.range %> <span>m</span></div><small><%= Math.round(detailProduct.attr.value.range * 1.09 * 100) / 100 %> yards</small>
				<% } else { %>
					<h3>Distance</h3><div><%= detailProduct.attr.value.range %> <span>m</span></div><small><%= Math.round(detailProduct.attr.value.range * 1.09 * 100) / 100 %> yards</small>
				<% }; %>