				<% if (detailPage.lang == "en") { %>
					<h3>Skill</h3><div><%= detailProduct.attr.value.skill.split("|")[0] %></div><small>required</small>
				<% } else { %>
					<h3>Compétence</h3><div><%= detailProduct.attr.value.skill.split("|")[1] %></div><small>champs obligatoires</small>
				<% }; %>		