				<% if (detailPage.lang == "en") { %>
					<h3>Speed</h3><div><%= detailProduct.attr.value.speed %></div><small>seconds</small>
				<% } else { %>
					<h3>La vitesse</h3><div><%= detailProduct.attr.value.speed %></div><small>secondes</small>
				<% }; %>