		<section>
			<div class="component carousel h450">
				<ul><li aria-label="image 1" aria-current="location" tabindex="0"></li><li aria-label="image 2" tabindex="0"></li></ul>				
				<img src="<%= dataSite.uriPath.rootAsset %>img/warranty/canbotics-smithy-warranty-weapon-banner.jpg" width="980" height="450" alt="" aria-hidden="false"><img src="<%= dataSite.uriPath.rootAsset %>img/warranty/canbotics-smithy-warranty-armour-banner.jpg" width="980" height="450" alt="" aria-hidden="true">
			</div>
		</section>
		
		
		
		
		
		
		
