			<li class="placeholder"><% if (detailsPage.langCode == "en") { %>
				<h3>Placeholder</h3><div>42</div><small>placeholder</small><% } else { %>
				<h3>Placeholder</h3><div>42</div><small>placeholder</small><% }; %>
			</li>