				<li class="skill <%= detailsProduct.attr.skill.en.toLowerCase() %>"><% if (detailsPage.langCode == "en") { %>
					<h3>Skill</h3><div><%= detailsProduct.attr.skill.en %></div><small>required</small><% } else { %>
					<h3>Compétence</h3><div><%= detailsProduct.attr.skill.fr %></div><small>champs obligatoires</small><% }; %>
				</li>		