	<header>
		<h1>Shoppe</h1>
		<nav>
			<h2>Site Navigation</h2>
			<ul>
				<li><a href="<%= uriPath.siteRoot + metaData.langCode %>/">Home</a></li>
				<li><a href="<%= uriPath.siteRoot + metaData.langCode %>/melee-weapons">Melee</a></li>
				<li><a href="<%= uriPath.siteRoot + metaData.langCode %>/ranged">Ranged</a></li>
				<li><a href="<%= uriPath.siteRoot + metaData.langCode %>/magic">Magic</a></li>
			</ul>
		</nav>
	</header>
