	<header>
		<div>
			<h1><%= dataSite.title[detailsPage.langCode] %></h1>
			<nav aria-labelledby="siteNavTitle">
				<% if (detailsPage.langCode.length) { if (detailsPage.langCode == "en") {%><h2 id="siteNavTitle">Site Navigation</h2>
				<ul>
					<li><a href="/en"<% if (detailsPage.navSegment == "index") { %> aria-current="page"<% }; %>>Home</a></li>
					<li>
						<a href="/en/weapons"<% if (detailsPage.navSegment == "weapon") { %> aria-current="location"<% }; %>>Weapons</a>
						<ul>
							<li><a href="/en/melee-weapons"<% if (detailsPage.navCategory == "melee") { %> aria-current="page"<% }; %>>Melee</a></li>
							<li><a href="/en/ranged-weapons"<% if (detailsPage.navCategory == "ranged") { %> aria-current="page"<% }; %>>Ranged</a></li>
							<li><a href="/en/magic-weapons"<% if (detailsPage.navCategory == "magic") { %> aria-current="page"<% }; %>>Magic</a></li>
						</ul>
					</li>
					<li>
						<a href="/en/weapons"<% if (detailsPage.navSegment == "armour") { %> aria-current="location"<% }; %>>Armour</a>
						<ul>
							<li><a href="/en/melee-weapons"<% if (detailsPage.navCategory == "light") { %> aria-current="page"<% }; %>>Light</a></li>
							<li><a href="/en/ranged-weapons"<% if (detailsPage.navCategory == "medium") { %> aria-current="page"<% }; %>>Medium</a></li>
							<li><a href="/en/magic-weapons"<% if (detailsPage.navCategory == "heavy") { %> aria-current="page"<% }; %>>Heavy</a></li>
						</ul>
					</li>
					<li>
						<a href="/en/weapons"<% if (detailsPage.navSegment == "tools") { %> aria-current="location"<% }; %>>Tools</a>
						<ul>
							<li><a href="/en/melee-weapons"<% if (detailsPage.navPage == "warranty") { %> aria-current="page"<% }; %>>Warranty</a></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li><a href="<%= detailsPage.fr.pathCanon %>">Français</a></li>
				</ul><% } else { %><h2 id="siteNavTitle">Navigation du site</h2>
				<ul>
					<li><a href="/fr"<% if (detailsPage.navSite == "index") { %> aria-current="page"<% }; %>>Accueil</a></li>
					<li><a href="/fr/armes-de-melee"<% if (detailsPage.navSite == "melee") { %> aria-current="page"<% }; %>>Armes de mêlée</a></li>
					<li><a href="/fr/armes-a-distance"<% if (detailsPage.navSite == "ranged") { %> aria-current="page"<% }; %>>Armes à distance</a></li>
					<li><a href="/fr/armes-magiques"<% if (detailsPage.navSite == "magic") { %> aria-current="page"<% }; %>>Armes magiques</a></li>
				</ul>
				<ul>
					<li><a href="<%= detailsPage.en.pathCanon %>">English</a></li>
				</ul><% }; }; %>
			</nav>
		</div>
	</header>
