	<header>
		<h1>Shoppe</h1>
		<nav>
			<h2>Site Navigation</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/melee">Melee</a></li>
				<li><a href="/ranged">Ranged</a></li>
				<li><a href="/magic">Magic</a></li>
			</ul>
		</nav>
	</header>
