<% if (detailsPage.langCode == "en") { -%>
		<section id="legal">
			<h2>Legal Disclaimers</h2>
			<ul>
				<li>Design, concept, and exact copy &copy;2018 OciCat Media. Most information comes from <a href="https://en.wikipedia.org" rel="external">Wikipedia</a>. Images used are bought from <a href="https://stock.adobe.com" rel="external">Adobe Stock</a></li>
			</ul>
			<ul>
				<li id="dis_dag"><sup>&dagger;</sup> Price is the cost of single (non-bulk) item, and based on the present primary currency. Other currencies and barter are valid for transactions.</li>
				<li id="dis_ddag"><sup>&Dagger;</sup> Damage is an estimate of potential harm the weapon can inflict. Actual damage may vary based on real life situations.</li>
				<li id="dis_ast"><sup>*</sup> There is a limit of 4 sharpenings, and 1 de-rusting per year.</li>
				<li id="dis_astast"><sup>**</sup> The warranty concludes at the end of whichever event occurs first.</li>
				<li id="dis_astastast"><sup>***</sup> The warranty only covers failures due to craftmanship or manufacturing defects. Improperly storing, handling, or using a weapon will void the warranty.</li>
			</ul>
			<ul>
				<li id="dis_1"><sup>1</sup> Disclaimer 1</li>
				<li id="dis_2"><sup>2</sup> Disclaimer 2</li>
				<li id="dis_3"><sup>3</sup> Disclaimer 3</li>
				<li id="dis_4"><sup>4</sup> Disclaimer 4</li>
				<li id="dis_5"><sup>5</sup> Disclaimer 5</li>
				<li id="dis_6"><sup>6</sup> Disclaimer 6</li>
				<li id="dis_7"><sup>7</sup> Disclaimer 7</li>
			</ul>
		</section>
<% } else { -%>
		<section id="legal">
			<h2>Avis de non-responsabilité</h2>
			<ul>
				<li>DConception, concept et copie exacte &copy;2018 OciCat Media. La plupart des informations proviennent de <a href="https://en.wikipedia.org" rel="external">Wikipédia</a>. Les images utilisées sont achetées auprès <a href="https://stock.adobe.com" rel="external">d'Adobe Stock</a></li>
			</ul>
			<ul>
				<li id="dis_dag"><sup>&dagger;</sup> Le prix est le coût d'un article unique (non en vrac) et basé sur la monnaie primaire actuelle. Les autres devises et le troc sont valables pour les transactions.</li>
				<li id="dis_ddag"><sup>&Dagger;</sup> Les dommages sont une estimation des dommages potentiels que l'arme peut infliger. Les dommages réels peuvent varier en fonction des situations de la vie réelle.</li>
				<li id="dis_ast"><sup>*</sup> Il y a une limite de 4 aiguisages et 1 dérouillage par an.</li>
				<li id="dis_astast"><sup>**</sup> La garantie se termine à la fin de l'événement qui survient en premier.</li>
				<li id="dis_astastast"><sup>***</sup> La garantie ne couvre que les défaillances dues à des défauts de fabrication ou de fabrication. Le stockage, la manipulation ou l'utilisation inappropriée d'une arme annuleront la garantie.</li>
			</ul>
			<ul>
				<li id="dis_1"><sup>1</sup> Disclaimer 1</li>
				<li id="dis_2"><sup>2</sup> Disclaimer 2</li>
				<li id="dis_3"><sup>3</sup> Disclaimer 3</li>
				<li id="dis_4"><sup>4</sup> Disclaimer 4</li>
				<li id="dis_5"><sup>5</sup> Disclaimer 5</li>
				<li id="dis_6"><sup>6</sup> Disclaimer 6</li>
				<li id="dis_7"><sup>7</sup> Disclaimer 7</li>
			</ul>
		</section>
<% }; -%>		